@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-decoration: none;
  color: inherit;
  outline: none;
  scroll-behavior: smooth;
  background-color: #000000e9;
  color: white;
}

:root {
  --black: #1d1d1d;
  --blue: dodgerblue;
  --light_blue: rgb(0, 170, 255);
  --grey: rgb(255, 255, 255);
  --light_grey: rgb(227, 227, 227);
  --dark: #2a2a2a;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

::selection {
  background-color: var(--light_blue);
  color: white;
}

::-webkit-scrollbar-track {
  box-shadow: inset 1px 0 6px var(--blue);
  border-radius: 1px;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 5px;
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}