.whatsapp {
  position: fixed;
  top: 90%;
  right: 5%;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  color: #25D366;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp svg {
  width: 50px;
  height: 50px;
}